twilio
sendgrid==6.12.4
asgiref
gunicorn>=23.0.0
packaging>=25.0
pytz>=2025.2
requests
sqlparse>=0.5.3
tzdata>=2025.2
PyJWT
python-decouple
python-dotenv
django-cors-headers
djangorestframework==3.16.0
django==5.2.3
djangorestframework_simplejwt==5.5.1
pillow
dotenv
pytest
pytest-django
whitenoise>=6.11.0
django-prometheus>=2.4.1
drf-spectacular>=0.29.0
drf-spectacular-sidecar>=2026.5.1